@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* @import url(/css/bookPage.css); */

@font-face {
    font-family: 'CeraPro';
    src: url('/fonts/CeraRoundProDEMOThin.otf') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'CeraPro';
    src: url('/fonts/CeraRoundProDEMOLight.otf') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CeraPro';
    src: url('/fonts/CeraRoundProDEMORegular.otf') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'CeraPro';
    src: url('/fonts/CeraRoundProDEMOBold.otf') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'CeraPro';
    src: url('/fonts/CeraRoundProDEMOBlack.otf') format('woff');
    font-weight: 700;
    font-style: normal;
}

:root {
    --bg-color: #131313;
    --text-color: whitesmoke;
}

body {
    font-family: 'CeraPro', Helvetica, sans-serif;

    background-color: var(--bg-color);
    color: var(--text-color);
    
}

h2 {
    font-weight: 700;
}

h3 {
    font-weight: 500;
}

span {
    font-weight: 400;
}