@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("/css/search.css");

@font-face {
  font-family: "CeraPro";
  src: url("/fonts/CeraRoundProDEMOThin.otf") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "CeraPro";
  src: url("/fonts/CeraRoundProDEMOLight.otf") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CeraPro";
  src: url("/fonts/CeraRoundProDEMORegular.otf") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "CeraPro";
  src: url("/fonts/CeraRoundProDEMOBold.otf") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "CeraPro";
  src: url("/fonts/CeraRoundProDEMOBlack.otf") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --bg-color: #131313;
  --text-color: #183153;
  --btn-bg-color: purple;
}

body {
  font-family: "CeraPro", Helvetica, sans-serif;

  background-color: var(--bg-color);
  color: var(--text-color);
  color: whitesmoke;
}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 500;
}

span {
  font-weight: 400;
}

.truncate-1,
.truncate-2,
.truncate-3 {
  width: 100%;
  display: -webkit-box;
  /* -webkit-line-clamp: 1; */
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* text-overflow: ellipsis; */
}

.truncate-1 {
  -webkit-line-clamp: 1;
}

.truncate-2 {
  -webkit-line-clamp: 2;
}

.truncate-3 {
  -webkit-line-clamp: 3;
}

.smalls {
  color: grey;
  font-weight: 400;
}

.resourceTitle {
  font-weight: 600;
}

/* JESUS */
body>section, main{
  margin-bottom: 5rem;
}

section .header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

a {
  /* color: whitesmoke !important; */
  text-decoration: none;
  color: inherit;
}

.resources {
  background-color: red;
  /* width: 120%; */
  height: 100px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.test {
  display: grid;
  grid-auto-flow: row;
  overflow-x: scroll;
  overscroll-behavior-inline: contain;
  gap: 0.3rem;
}

.test::-webkit-scrollbar {
  width: 0.01em;
}

.test>* {
  display: grid;
  gap: 0.5em;
  grid-auto-flow: column;
  grid-template-columns: 20ch;
  white-space: nowrap;
  /* overflow-x: scroll; */
  /* flex-wrap: nowrap; */
}

.one,
.two,
.three {
  display: flex;
  gap: 0.2rem;
}

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  /* width: 100%; */

  justify-content: space-around;
  cursor: pointer;
  width: 90%;

  background-color: #1e1f21;
  padding: 1rem 1rem;
  margin: 0 5vw;
  margin-bottom: 0.5rem;
}
.searchResults {
  /* display: flex;
  flex-wrap: wrap; */
  
  display: grid;
  /* grid-auto-flow: column; */
  grid-template-columns: 45% 45%;
  grid-auto-rows: auto;
  margin: 0 2.5vw;
  margin-top: 2rem;
}
.searchResults > * {
  /* THERE WILL BE MEDIA QUERY FOR THIS */
  display: inline-block;
  height: auto;
  /* width: 40%; */

  border: 2px solid whitesmoke;
  border-radius: 1em;
  padding: 1rem;
  /* margin: 0.5rem 0; */
}

.searchResults .details {
  color: gray;
}

/* BOOTSTRAP BREAKPOINTS */
/* xs < 576px */
/* sm > 576px */
/* md > 768px */
/* lg > 992px */
/* xl > 1200px */
/* xxl > 1400px */
svg {
  fill: grey;

  width: 24px;
  height: 24px;
}

/* .authorSVG {
  fill: whitesmoke;
} */

.groupSVG {
  fill: lightblue;
}

@media screen and (min-width: 576px) {
  svg {
    height: 48px;
    width: 48px;
    stroke-width: 10px;
    stroke: whitesmoke;

    fill: grey;
  }
}