.groups {
  font-size: 0.9rem
}

.groups svg {
  width: 24px;
  height: 24px;
}

.groupsOutput,
.navArrows {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 45% 45%;
  justify-content: space-around;

  cursor: pointer;
}

.first>*,
.second>*,
.third>*,
.fourth>* {
  display: flex;
  flex-direction: column;
  /* margin: 0 auto; */
  /* align-items: center; */
  text-align: left;
  border-radius: 15px;
  border: 2px solid grey;
  cursor: pointer;
  padding: 1em;
}

.first span,
.second span {
  /* font-size: 1.2rem; */
  /* font-weight: 600; */
}

.details {
  color: grey;
  font-size: 15px;
}

.first,
.second,
.third,
.fourth {
  display: flex;
  flex-direction: column;
  gap: 1em;

  cursor: pointer;
}

.groupsOutput>* {
  /* border: 2px solid grey; */
  /* height: auto; */
}

.searchGroups {
  display: grid;
  grid-template-columns: 49% 49%;
  justify-content: space-around;
  row-gap: 1em;
  cursor: pointer;
}

.searchGroups>* {
  background-color: #1e1f21;
  padding: 1em;

  display: flex;
  /* place-items: center; */
  justify-content: space-between;
  align-items: center;

  cursor: pointer;

  border-radius: 0.5rem;
}

.searchGroups div:first-child {
  width: 100%;
  height: 100%;
}

#searchInput {
  background-color: inherit;
  border: none;
  border-radius: 0px;
  border-bottom: 0.1px solid grey;
  outline: none;
  color: whitesmoke;
}

#searcInput:focus {
  outline: none;
}

#searchInput::placeholder {
  color: grey;
}